 <div class = "top_admin_layout">
  <div class = "admin_book_sarch_title" >
   読みたい本を検索する
  </div>
  <div class = "admin_book_layout">
   <div class = "admin_book_sarch" >
    <%= form_with method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
    <% end %>
   </div><br>
    <div class = "admin_book_sarch" >
     <%= link_to "新しく本を投稿する", new_book_path %>
    </div>

    <h4 class = "admin_book_index" >
     本一覧
    </h4>
     <% if @books.present? %>
      <table class="table">
        <tr>
         <th class = "admin_book_index" scope="col">book_image</th>
         <th class = "admin_book_index" scope="col">id</th>
         <th class = "admin_book_index" scope="col">title</th>
         <th class = "admin_book_index" scope="col">author</th>
        </tr>
         <% @books.each do |book| %>
          <tr>
            <td>
              <% if book.image.attached? %>
               <%= image_tag book.image, size: "150x150" %>
              <% else %>
               <%= image_tag 'book', size: "150x150" %>
              <% end %>
            </td>
            <td class = "admin_book_index_contents">
             <%= link_to admin_book_path(book.id) do %>
              <%= book.id %>
             <% end %>
            </td>
            <td class = "admin_book_index_contents">
             <%= book.title %>
            </td>
            <td class = "admin_book_index_contents">
             <%= book.author %>
            </td>
          </tr>
          <% end %>
          <% else %>
           <p>検索結果はありません</p>
          <% end %>
     </table>
      <div class = "admin_book_page">
       <%= paginate @books %>
      </div>
 </div>
</div>
