<div class = "top_user_post_title">この本を選んだ理由</div>
  <div class = "user_post_new">
     <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
     <% end %>
      <%= form_with model: @post, local:true do |f| %>
        <%= f.hidden_field :id, :value => @book.id %>
        <%= f.text_area :reason %>
        <%= f.submit '登録' %>
      <% end %>
  </div>