<h2>新規会員登録</h2>
  <%= render "public/shared/error_messages", resource: resource %>
   <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <h4>画像</h4>
   <%= f.file_field :image, accept: "image/*" %>
  <h4>
   <%= f.label :名前 %><br />
   <%= f.text_field :name %>
  <h4>
   <%= f.label :性別 %><br />
   <%= f.text_field :sex %>
  <h4>
   <%= f.label :生年月日 %><br />
   <%= f.text_field :birthdate %>
  <h4>
  <h4>
   <%= f.label :年齢 %><br />
   <%= f.text_field :age %>
  <h4>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
     <%= f.submit "新規登録" %>
  </div>
<% end %>

<p>既に登録済みの方</p>
 <%= link_to  user_session_path do %>
    こちら
 <% end %>
 からログインしてください。
