<h2 class = "admin_user_edit_title" >
  会員編集画面
</h2>
 <div class= "top_admin_user_edit">
     <%= form_with model: @user,method: :patch, local: true do |f| %>
       <div class = "admin_user_edit_content">
        <% if @user.image.attached? %>
         <%= image_tag @user.image, size: "100x100" %>
        <% else %>
          <%= image_tag "no_image.jpg" %>
        <% end %>
        <%= f.file_field :image, placeholder: "プロフィール画像", accept: "image/*" %>
       <div class = "admin_user_edit_content">name</div>
       <div>
        <%= f.text_field :name %>
       </div>
       <div class = "admin_user_edit_content">sex</div>
        <%= f.text_field :sex %>
       <div class = "admin_user_edit_content">birthdate</div>
        <%= f.text_field :birthdate %>
       <div class = "admin_user_edit_content">age</div>
        <%= f.text_field :age %>
       <div class = "admin_user_edit_content">mail</div>
        <%= f.text_field :email %>
       <div class = "admin_user_edit_content">status</div>
        <%= f.text_field :is_active %>
        <%= f.submit '変更を保存する' %>
     <% end %>
 </div>