<div class = "top_admin_user">
 <h4 class = "admin_user_index">
  会員一覧
 </h4>
  <table class="table">
   <tr>
      <th class = "admin_user_content" scope="col">user</th>
      <th class = "admin_user_content" scope="col">user_ID</th>
      <th class = "admin_user_content" scope="col">name</th>
      <th class = "admin_user_content" scope="col">sex</th>
      <th class = "admin_user_content" scope="col">birthdate</th>
      <th class = "admin_user_content" scope="col">age</th>
      <th class = "admin_user_content" scope="col">mail</th>
      <th class = "admin_user_content" scope="col">status</th>
      <th></th>
   </tr>
     <% @users.each do |user| %>
      <tr>
       <td> <% if user.image.attached? %>
        <%= image_tag user.image, size: "100x100" %>
         <% else %>
        <%= image_tag 'no_image', size: "100x100" %>
         <% end %>
       </td>
       <td class = "admin_user_index_content">
        <%= user.id %>
       </td>
       <td class = "admin_user_index_content">
        <%= link_to admin_user_path(user.id) do %>
         <%= user.name %>
        <% end %>
       </td>
       <td class = "admin_user_index_content">
        <%= user.sex %>
       </td>
       <td class = "admin_user_index_content">
        <%= user.birthdate %>
       </td>
       <td class = "admin_user_index_content">
        <%= user.age %>
       </td>
       <td class = "admin_user_index_content">
        <%= user.email %>
       </td>
       <td class = "admin_user_index_content">
        <%= user.is_active %>
       </td>
       <td class = "admin_user_index_content">
        <%= link_to "詳細画面へ",admin_user_path(user.id) %>
       </td>
       <% end %>
      </tr>
  </table>
  <div class = "admin_page">
   <%= paginate @users %>
  </div>
</div>