<h4>会員詳細画面</h4>
<div>
  <p>会員ID<%= @user.id %></p>
  <p>名前<%= @user.name %></p>
  <p>性別<%= @user.sex %>
  <p>生年月日<%= @user.birthdate %></p>
  <p>年齢<%= @user.age %></p>
  <p>メールアドレス<%= @user.email %></p>
  <p>会員ステータス<%= @user.is_active %></p>
</div>
<%= link_to "編集する",edit_admin_user_path(@user.id) %>