
<h4>読みたい本を検索する</h4>
<%= form_with url: search_path, method: :get, local: true do |f| %>
  <%= f.text_field :keyword, value: @keyword %>
  <%= f.submit "検索" %>
<% end %>

<% @books.each do |book| %>
  <%= book.image %> <%= book.title %> <%= book.author %>
<% end %>