<div class= "top_book_layout">
 <div class = "book-sarch" >
   読みたい本を検索する
 </div>
 <div class = "sarch_layout">
       <div class = "book-sarch" >
        <%= form_with method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
         <%= f.submit "検索" %>
         <% end %>
       </div>
        <div class = "book-sarch" >
         <% if user_signed_in? %>
          <%= link_to "新しく本を投稿する", new_book_path %>
         <% end %>
        </div>


 <div class = "book_index" >
  本一覧
 </div>
  <% if @books.present? %>
   <table class="table">
     <tr>
      <th class = "book_index" scope="col">book_image</th>
      <th class = "book_index" scope="col">id</th>
      <th class = "book_index" scope="col">title</th>
      <th class = "book_index" scope="col">author</th>
     </tr>
      <% @books.each do |book| %>
       <tr>
         <td>
          <%= link_to book_path(book.id) do %>
           <% if book.image.attached? %>
            <%= image_tag book.image, class: "thumbnail" %>
           <% else %>
            <%= image_tag 'book', class: "thumbnail"%>
           <% end %>
          <% end %>
         </td>
         <td class = "book_index_contents">
          <%= link_to book_path(book.id) do %>
           <%= book.id %>
          <% end %>
         </td>
         <td class = "book_index_contents">
          <%= link_to book_path(book.id) do %>
           <%= book.title %>
          <% end %>
         </td>
         <td class = "book_index_contents">
          <%= link_to book_path(book.id) do %>
           <%= book.author %>
          <% end %>
         </td>
       </tr>
       <% end %>
       <% else %>
        <p>検索結果はありません</p>
       <% end %>
    </table>
      <div class = "book_page">
       <%= paginate @books %>
      </div>
 </div>
</div>