
<% if @books.present? %>
  <% @books.each do |book| %>
    <% if book.image.attached? %>
     <%= image_tag book.image, size: "100x100" %>
    <% else %>
     <%= image_tag 'book', size: "100x100" %>
    <% end %>
      <%= link_to book_path(book.id) do %><br>
       ID<%= book.id %><br>
      <% end %>
        タイトル<%= book.title %><br>
        著者名<%= book.author %><br>
  <% end %>
<% else %>
  <p>検索結果はありません</p>
<% end %>
<%= paginate @books %>


<h4>読みたい本を検索する</h4>
<%= form_with method: :get, local: true do |f| %>
  <%= f.text_field :keyword, value: @keyword %>
  <%= f.submit "検索" %>
<% end %>

<%= link_to "新規登録画面へ", new_book_path %>





