<%= form_with model: @book, url:books_path,  local:true do |f| %>
   <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
   <h4>タイトル</h4>
  <%= f.text_field :title %>
   <h4>著者</h4>
  <%= f.text_field :author %>
  <h4></h4>
  <%= f.submit '登録' %>
<% end %>

