<div class = "top_book_show">
 <table class="table">
  <tr>
   <th class = book_show_content scope="col"></th>
   <th class = book_show_content scope="col">ID</th>
   <th class = book_show_content scope="col">本のタイトル</th>
   <th class = book_show_content scope="col">本の著者</th>
   <th class = book_show_content scope="col">本のコメント</th>
  </tr>
   <tr>
    <td class = book_show_content_sub scope="col">
     <% if @book.image.attached? %>
      <%= image_tag @book.image, size: "250x250" %>
     <% else %>
      <%= image_tag 'book', size: "250x250" %>
     <% end %>
    </td>
    <td class = book_show_content_sub scope="col"><%= @book.id %></td>
    <td class = book_show_content_sub scope="col"><%= @book.title %></td>
    <td class = book_show_content_sub scope="col"><%= @book.author %></td>
    <td class = book_show_content_comment scope="col">
     <% @book_assessments.each do |assessment| %>
      <%= assessment.comment %>
      <%= link_to "削除", destroy_assessment_path(assessment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %><br>
     <% end %>
    </td>
 </table>
</div>
  <% if user_signed_in? && @book.user.id == current_user.id %>
   <%= link_to "一覧画面へ", books_path %><br>
   <%= link_to "読みたい本として登録する", new_post_path(book_id: @book.id) %><br>
   <%= link_to "登録を削除する", destroy_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% elsif %>
   <%= link_to "一覧画面へ", books_path %><br>
   <%= link_to "読みたい本として登録する", new_post_path(book_id: @book.id) %><br>
  <% end %>
