<table class="table">
  <thead>
   <h2>マイページ</h2>
     登録情報<%= link_to "編集する",edit_user_path(current_user.id) %>
     <th scope="col">名前</th>
     <th>性別</th>
     <th>生年月日</th>
     <th>年齢</th>
     <th>メールアドレス</th>
     <th>会員ステータス</th>
      <tr>
       <th scope="col"><%= current_user.name %></th>
       <th scope="col"><%= current_user.sex %></th>
       <th scope="col"><%= current_user.birthdate %></th>
       <th scope="col"><%= current_user.age %></th>
       <th scope="col"><%= current_user.email %></th>
       <th scope="col"><%= current_user.is_active %></th>
      </tr>
   </thead>
  <tbody>
  </tbody>
 </table>
